
$uniLight : "Univers-Light";
$uniBold : "Univers Bold";
$avLight : "Avenir-Light";
$avHeavy : "Avenir-Heavy";
$avMedium : "Avenir-Medium";

.font-test{
  height: 20px;
  button{
    float: left;
    margin: 0px 10px;
  }
}

.plan1 {
  .title{
    font-family: Futura,Trebuchet MS,Arial,sans-serif !important;
  }
  p,h5{
    font-family: 'Yu Gothic','YuGothic',$uniLight
  }
}

.plan2 {
  .title{
    font-family: $uniBold !important;
  }
  p,h5{
    font-family: 'Yu Gothic','YuGothic',$uniLight
  }
}

.plan3 {
  .title{
    font-family: $avMedium !important;
  }
  p,h5{
    font-family: 'Yu Gothic','YuGothic',$avLight
  }
}

.plan4 {
  .title{
    font-family: $avHeavy !important;
  }
  p,h5{
    font-family: 'Yu Gothic','YuGothic',$avLight
  }
}
