.pic-component {
  width: 100%;
  display: flex;
  flex-flow: column;
  text-align: center;
}

.pic-img {
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}

@media only screen and (min-width:732px){
  .pic-img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black !important;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px !important;
  height: 50px !important;
  background-size: 50% 50% !important;
  border-radius: 50% !important;
}
