.body{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.main{
  flex: 1;
  margin: 0 10px;
}

.app {
  margin-left: 30px;
  margin-top: 0px;
}

.appMain {
  background-color: rgba(210, 235, 13, 0.31) ;
  min-height: 500px;
}

footer {
  background-color: #000;
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  color: #fff;
  margin-top: 20;
  height: 280px;
  width: 100%;
  line-height: 1.625rem;
}

.footer-main {
  margin-left: 50px;
  width: auto;
}

footer .footer-main a{
  color: #fff;
}

footer .footer-main h2{
  text-align: left;
}

footer .links {
  width: 100%;
  height: 135px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

footer .links img {
  cursor: pointer;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 20px;
  height: 30%;
  width: auto;

}

footer .links ul {
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns:  repeat(2,100px);
  grid-template-rows: auto;
  grid-column-gap: 70px;
  grid-row-gap: 10px;
  grid-auto-flow: row;
  padding-inline-start: 0px;
}

footer .links ul >*{
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px solid white;
}

.slides {

  position: relative;
  .slick-prev, .slick-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 1 !important;
  }
  .slick-prev {
    left: 5% !important;
  }
  .slick-next {
    right: 5% !important;
  }
}

.title {
  padding: 20px 0px 0px;
  font-family: "Josefin Sans","游ゴシック体",Yu Gothic,YuGothic,"ヒラギノ角ゴ Pro",Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,sans-serif;
}

.musicart {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-style: italic;
}

.contact-form input,textarea{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top : 10px;
  margin-bottom : 30px;
  padding : 18px;
  font-size : 18px;
  border : 1px solid #dee7ec;
}

.contact-form .submit{
  background-color : #dee7ec;
  color : #889eab;
  transition: .3s ease;

}

.contact-form .submit:hover{
  background-color : #b7d4e4;
  color: rgb(136, 86, 223);
  cursor: pointer;
}

.tickets-form button {
  margin: 3px;
  margin-top: 5px;
}

.tickets-form h5{
  margin-top: 20px;
}

.tickets-form input,textarea, select{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top : 10px;
  margin-bottom : 30px;
  padding : 18px;
  font-size : 18px;
  border : 1px solid #dee7ec;
}

.tickets-form .submit{
  background-color : #dee7ec;
  color : #889eab;
  transition: .3s ease;

}

.tickets-form .submit:hover{
  background-color : #b7d4e4;
  color: rgb(136, 86, 223);
  cursor: pointer;
}

.articleButton {
  width: 100%;
  display: block;
  height: 50px;
}

.article-list p

.articleFirst {
  float: right;
}

.articlePrev{
  float: left;
}

.articleNext{
  float: right;
}

.tagSelector,.tagSearch {
  margin: 0 8px 3px 0;
}

.tagSearch {
  float: right;
  padding-bottom: 0px;
  padding-top: 9px;
}

.tagSelector{
  float: left;
}

button.link-button{
  color: #4183C4 !important;
  background: none;
  border: none;
  border-bottom: 1px solid;
}

button.link-button:hover {
  cursor: pointer;
}

.tagSelector:focus, .tagSearch:focus {
  outline: 0;
}

.twitter {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 420px;
}

@media only screen and (min-width:1018px) {
  footer {
    height: 150px;
  }
  footer .links ul{
    display: flex;
    margin: 0px 20px 10px 20px;
  }
  footer .links ul >*{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (max-width:1018px) and (min-width:850px) {
  footer {
    height: 200px;
  }

  footer .links ul {
    grid-template-columns: repeat(5, 100px);
  }
}


@media only screen and (min-width:732px) and (max-width:850px) {
  footer {
    height: 200px;
  }

  footer .links ul {
    grid-template-columns: repeat(4, 100px);
  }
}

@media only screen and (min-width:732px){
  .main {
    padding: 0px 30px;
  }
  .twitter{
    width: 700px;
  }
  .contact-form input, textarea{
    width : 400px;
    display: block;
    margin-left: 0;
  }
  .tickets-form input, textarea, select{
    width : 400px !important;
    display: block;
    margin-left: 0;
  }
  .about .title {
    margin-left: 8%;
    margin-bottom: 10px;
  }
  .aboutMain {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutMain h5{
    margin: 20px 0px;
  }
  .concertAbout {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width:460px) and (max-width:732px){
  .main {
    padding: 0px 20px;
  }

  footer {
    height: 240px;
  }

  footer .links ul {
    grid-template-columns: repeat(3,100px);
  }

  .twitter {
    width: 400px;
  }
}

.article {
  margin: 10px 0px
}
