@charset "UTF-8";
.body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  box-sizing: border-box; }
  .body .title {
    padding: 20px 0px 0px;
    font-family: "Josefin Sans","游ゴシック体",Yu Gothic,YuGothic,"ヒラギノ角ゴ Pro",Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,sans-serif !important; }
    .body .title > * {
      font-family: "Josefin Sans","游ゴシック体",Yu Gothic,YuGothic,"ヒラギノ角ゴ Pro",Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,sans-serif; }
  .body .navbar .navbar-nav .nav-link {
    font-family: "Josefin Sans","游ゴシック体",Yu Gothic,YuGothic,"ヒラギノ角ゴ Pro",Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,sans-serif !important; }
  .body .main {
    flex: 1;
    font-family: "Avenir-Light","游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",sans-serif;
    margin: 0 10px;
    padding-bottom: 20px; }
    .body .main h1, .body .main h2, .body .main h3, .body .main h4, .body .main h5, .body .main h6 {
      font-family: "Josefin Sans","游ゴシック体",Yu Gothic,YuGothic,"ヒラギノ角ゴ Pro",Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,sans-serif !important; }
    @media only screen and (min-width: 460px) and (max-width: 732px) {
      .body .main {
        padding-left: 20px;
        padding-right: 20px; } }
    @media only screen and (min-width: 732px) {
      .body .main {
        padding-left: 30px;
        padding-right: 30px;
        width: 70%;
        margin-left: auto;
        margin-right: auto; }
        .body .main .about .title {
          margin-bottom: 10px; }
        .body .main .aboutMain h5 {
          margin: 20px 0px; } }
    :not(.body .main.concert), .body .main :not(.tiltle) > b, .body .main strong, .body .main .bold {
      font-family: "Avenir-Light","游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",sans-serif; }
    .body .main button.link-button {
      color: #4183C4 !important;
      background: none;
      border: none;
      border-bottom: 1px solid;
      outline: 0; }
      .body .main button.link-button:hover {
        cursor: pointer;
        outline: 0; }
    .body .main button.back-button {
      color: #5f9dda !important;
      background: none;
      border: none;
      border-bottom: 1px solid #5f9dda !important;
      outline: 0; }
      .body .main button.back-button:hover {
        cursor: pointer;
        outline: 0; }
    .body .main .slides {
      position: relative; }
      .body .main .slides .slick-prev, .body .main .slides .slick-next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        z-index: 1 !important; }
      .body .main .slides .slick-prev {
        left: 5% !important; }
      .body .main .slides .slick-next {
        right: 5% !important; }
    .body .main .contact-form input, .body .main .contact-form textarea {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      margin-bottom: 30px;
      padding: 18px;
      font-size: 18px;
      border: 1px solid #dee7ec; }
    .body .main .contact-form textarea {
      height: 150px; }
    .body .main .contact-form .submit {
      background-color: #dee7ec;
      color: #889eab;
      transition: .3s ease; }
      .body .main .contact-form .submit:hover {
        background-color: #b7d4e4;
        color: #8856df;
        cursor: pointer; }
    @media only screen and (min-width: 732px) {
      .body .main .contact-form input, .body .main .contact-form textarea {
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto; } }
@media only screen and (min-width: 732px) and (min-width: 1018px) {
  .body .main .contact-form p {
    width: 600px;
    margin-left: auto;
    margin-right: auto; } }

    .body .main .tickets .tickets-form button {
      margin: 3px;
      margin-top: 5px; }
    .body .main .tickets .tickets-form h5 {
      margin-top: 20px; }
    .body .main .tickets .tickets-form input, .body .main .tickets .tickets-form textarea, .body .main .tickets .tickets-form select {
      display: block;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      margin-bottom: 30px;
      padding: 18px;
      font-size: 18px;
      border: 1px solid #dee7ec; }
    .body .main .tickets .tickets-form .submit {
      background-color: #dee7ec;
      color: #889eab;
      transition: .3s ease; }
      .body .main .tickets .tickets-form .submit:hover {
        background-color: #b7d4e4;
        color: #8856df;
        cursor: pointer; }
    @media only screen and (min-width: 732px) {
      .body .main .tickets input, .body .main .tickets textarea, .body .main .tickets select {
        display: block;
        margin-left: auto;
        margin-right: auto; } }
    @media only screen and (min-width: 732px) and (max-width: 1018px) {
      .body .main .tickets input, .body .main .tickets textarea, .body .main .tickets select {
        width: 60%; } }
    @media only screen and (min-width: 1018px) {
      .body .main .tickets input, .body .main .tickets textarea, .body .main .tickets select {
        width: 50%; } }
    .body .main .article-content {
      min-height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .body .main .article-content > button.back-button {
        width: 74px; }
      .body .main .article-content .article {
        flex-grow: 1;
        margin-top: 10px; }
    .body .main .articleSec .article-list :hover {
      cursor: pointer !important; }
    .body .main .articleSec .tagSelector, .body .main .articleSec .tagSearch {
      margin: 0 8px 3px 0; }
      .body .main .articleSec .tagSelector:focus, .body .main .articleSec .tagSelector:hover, .body .main .articleSec .tagSelector:active, .body .main .articleSec .tagSearch:focus, .body .main .articleSec .tagSearch:hover, .body .main .articleSec .tagSearch:active {
        outline: 0; }
    .body .main .articleSec .tagSelector-main {
      height: 39px; }
    .body .main .articleSec .tagSearch {
      padding: 6px 8px;
      float: right; }
    .body .main .articleSec .articleButton {
      width: 100%;
      display: block;
      height: 50px; }
      .body .main .articleSec .articleButton .articleFirst {
        float: left; }
      .body .main .articleSec .articleButton .articlePrev {
        float: left; }
      .body .main .articleSec .articleButton .articleNext {
        float: right; }
    .body .main .twitter {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      height: 520px;
      max-width: 659px; }

footer {
  height: 312px;
  background-color: #000;
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  color: #fff;
  width: 100%;
  line-height: 1.625rem; }
  footer .footer-main {
    height: 66px; }
  footer .footer-links {
    height: 224px; }
  footer .copyright {
    height: 22px; }
  footer .footer-main {
    margin-left: 50px;
    width: auto; }
    footer .footer-main .title h2 {
      font-family: "Josefin Sans","游ゴシック体",Yu Gothic,YuGothic,"ヒラギノ角ゴ Pro",Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,sans-serif !important; }
  footer .footer-links {
    width: 100%;
    text-align: center; }
    footer .footer-links img {
      margin-top: 20px;
      margin-left: auto;
      margin-right: 20px;
      margin-bottom: 10px;
      height: 40px;
      width: auto; }
      footer .footer-links img:hover {
        cursor: pointer; }
    footer .footer-links ul {
      list-style: none;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(2, 100px);
      grid-template-rows: auto;
      grid-column-gap: 70px;
      grid-row-gap: 10px;
      grid-auto-flow: row;
      padding-inline-start: 0px; }
      footer .footer-links ul > * {
        font-family: "Josefin Sans","游ゴシック体",Yu Gothic,YuGothic,"ヒラギノ角ゴ Pro",Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,sans-serif !important;
        cursor: pointer;
        display: inline-block;
        border-bottom: 1px solid white; }
  footer .copyright {
    clear: both;
    width: 100%;
    color: #fff;
    line-height: 22px;
    font-size: 0.7em;
    text-align: center; }
    footer .copyright p {
      float: left;
      margin: 0 0 0 10px; }
  @media only screen and (min-width: 460px) and (max-width: 732px) {
    footer {
      height: 273px; }
      footer .footer-main {
        height: 66px; }
      footer .footer-links {
        height: 185px; }
      footer .copyright {
        height: 22px; }
      footer .footer-links ul {
        grid-template-columns: repeat(3, 100px); } }
  @media only screen and (min-width: 732px) and (max-width: 850px) {
    footer {
      height: 236px; }
      footer .footer-main {
        height: 66px; }
      footer .footer-links {
        height: 148px; }
      footer .copyright {
        height: 22px; }
      footer .footer-links ul {
        grid-template-columns: repeat(4, 100px); } }
  @media only screen and (min-width: 850px) and (max-width: 1018px) {
    footer {
      height: 236px; }
      footer .footer-main {
        height: 66px; }
      footer .footer-links {
        height: 148px; }
      footer .copyright {
        height: 22px; }
      footer .footer-links ul {
        grid-template-columns: repeat(5, 100px); } }
  @media only screen and (min-width: 1018px) {
    footer {
      height: 193px; }
      footer .footer-main {
        height: 66px; }
      footer .footer-links {
        height: 105px; }
      footer .copyright {
        height: 22px; }
      footer .footer-links ul {
        display: flex;
        margin: 0px 20px 10px 20px; }
        footer .footer-links ul > * {
          width: 100px;
          margin-left: auto;
          margin-right: auto; } }

/*# sourceMappingURL=index.css.map */
