.body{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.main{
  flex: 1;
  margin: 0 10px;
}

.app {
  margin-left: 30px;
  margin-top: 0px;
}

.appMain {
  background-color: rgba(210, 235, 13, 0.31) ;
  min-height: 500px;
}

footer {
  background-color: #000;
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  color: #fff;
  margin-top: 20;
  height: 200px;
  width: 100%;
  line-height: 1.625rem;
}

.footer-main {
  margin-left: 50px;
  width: auto;
}

footer .footer-main a{
  color: #fff;
}

footer .footer-main h2{
  text-align: left;
}

footer .links {
  width: 100%;
  height: 150px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

footer .links img {
  cursor: pointer;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 20px;
  height: 30%;
  width: auto;

}

footer .links ul {
  list-style: none;
}

footer .links ul >*{
  cursor: pointer;
  display: inline-block;
  margin-left: 0px;
  margin-right: 50px;
  padding-bottom: 0px;
  border-bottom: 1px solid white;
}

.slides {

  position: relative;
  .slick-prev, .slick-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 1 !important;
  }
  .slick-prev {
    left: 5% !important;
  }
  .slick-next {
    right: 5% !important;
  }
}

.title {
  padding: 20px 0px 0px;
  font-family: "Josefin Sans","游ゴシック体",Yu Gothic,YuGothic,"ヒラギノ角ゴ Pro",Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,sans-serif;
}

.musicart {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-style: italic;
}

.contact-form input,textarea{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top : 10px;
  margin-bottom : 30px;
  padding : 18px;
  font-size : 18px;
  border : 1px solid #dee7ec;
}

.contact-form .submit{
  background-color : #dee7ec;
  color : #889eab;
  transition: .3s ease;

}

.contact-form .submit:hover{
  background-color : #b7d4e4;
  color: rgb(136, 86, 223);
  cursor: pointer;
}

.twitter {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  height: 420px;
}

@media only screen and (min-width:768px) {
  footer {
    height: 150px;
  }
  .contact-form input, textarea{
    width : 400px;
    display: block;
    margin-left: 0;
  }
  .twitter{
    width: 700px;
  }
}

@media only screen and (max-width:460px) {
  footer {
    height: 250px;
  }
  .twitter {
    width: 100%;
  }
}

.article {
  margin: 10px 30px
}
